<div class="nav_login cl" id="nav_login-dp">
  <div class="nav_login_inner">
    <i class="far fa-window-close btn-close" onclick="closeTabLogin(1)"></i>
    <div class="nav_login_content">
      <div class="login_logo">
        <div class="header_logo_text">báo chí</div>
      </div>
      <div class="login_content_inner" id="form-log1">
        <div class="login_header">Đăng nhập với BaoChi.vn</div>
        <div class="login_group_btn">
          <div class="btn_login" id="login_facebook">
            <div class="btn_login_logo">
              <i class="fab fa-facebook-f"></i>
            </div>
            <div class="btn_login_text">
              <div class="login_text_content">Đăng nhập bằng Facebook</div>
            </div>
          </div>
          <div class="btn_login" id="login_google">
            <div class="btn_login_logo login_color_red">
              <i class="fab fa-google"></i>
            </div>
            <div class="btn_login_text login_color_red">
              <div class="login_text_content">Đăng nhập bằng Google</div>
            </div>
          </div>
        </div>
      </div>
      <div class="login_footer">
        <div class="login_footer_text">
          This site is protected by reCAPTCHA and the Google
          <a href="#">Privacy Policy</a> and
          <a href="#">Terms of Service</a> apply.
        </div>
      </div>
    </div>
  </div>
  <div class="coating"></div>
</div>
