<div class="row">
    <div class="col-66 l-content">
        <article class="story story--primary">
            <a href="#" class="story__thumb--img">
                <img src="./assests/img/story-4.jpg" alt="anh story" class="story__thumb_img">
            </a>
            <div class="story__thumb--text">
                <h1 class="story__thumb-text"><a href="#"> Ông Biden: Tổng thống Nga đã quyết định tấn công Ukraine, không có rút quân</a></h1>
                <div class="story__thumb_info">
                    <div class="story__thumb_time">4 phút trước</div>
                    <div class="story_thumb_dash"> - </div>
                    <div class="story__thumb_cmt">
                        <span class="far fa-comment-dots"></span>
                        <span>0</span>
                    </div>
                </div>
            </div>
            <span class="icon__play"><i class="fas fa-play-circle"></i></span>
        </article>
    </div>
    <div class="col-33 editor-pick scroll-style">
        <article class="story">
            <a href="#" class="story__thumb--img">
                <img src="./assests/img/story.jpg" alt="anh story" class="story__thumb_img">
            </a>
            <a href="#" class="story__thumb--text">
                <h1 class="story__thumb-text"><a href="#">
                    <span class="icon__play"><i class="fas fa-play-circle"></i></span>
                     Di chứng hậu Covid-19: Càng lo, càng bệnh</a></h1>
            </a>
        </article>
    </div>
</div>