<nav class="nav_trending">
    <label>Tiêu điểm</label>
    <ul class="trending_list">
        <li class="trending_item"><a href="#">Diễn biến dịch Covid-19</a></li>
        <li class="trending_item"><a href="#">Công ty Việt Á</a></li>
        <li class="trending_item"><a href="#">Trở lại trường</a></li>
        <li class="trending_item"><a href="#">Ukraina</a></li>
        <li class="trending_item"><a href="#">V-League</a></li>
        <li class="trending_item"><a href="#">World Cup 2023</a></li>
        <li class="trending_item"><a href="#">Olympic</a></li>
    </ul>
</nav>