<div class="detail_author">
  <div class="author_img is-hover">
    <img src="./assests/img/author_ava.png" alt="avt author" />
  </div>
  <div class="author_info">
    <span>
      <h4 class="author_name is-hover">
        <%= post['user.name'] %> 
      </h4>
      <div class="author_star">
        <i class="fa-solid fa-star star_active"></i>
        <i class="fa-solid fa-star star_active"></i>
        <i class="fa-solid fa-star star_active"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </div>
    </span>
    <a href="mailto:maithu301@gmail.com" class="is-hover">
      <%= post['user.email'] %>
    </a>
  </div>
</div>
