<ul class="morenews">
    <h3>tin liên quan</h3>
    <li class="morenews_item">
        <a href="#">
            <span class="icon__play"><i class="fas fa-play-circle"></i></span>
            Tình hình Covid-19 hôm nay 19.2: Ca nhiễm trong ngày giảm, F0 khỏi bệnh tăng
        </a>
    </li>
</ul>