<div class="categories">
    <h3>Dành cho bạn</h3>
    <ul class="detail_categories">
        <li class="categories_item">
            <article class="story">
                <a href="#" class="story__thumb--img">
                    <img src="./assests/img/story-5.jpg" alt="anh story" class="story__thumb_img">
                </a>
                <a href="#" class="story__thumb--text">
                    <h5 class="story__thumb-text">
                            Tình hình Covid-19 hôm nay 11.2: Ca bệnh trong ngày tăng đột biến, ca tử vong giảm
                    </h5>
                </a>
            </article>
        </li>
        
    </ul>
</div>