<div class="detail_meta detail_meta2">
    <div class="detail_social">
        <div class="detail_fbplugin">
            <a href="#" class="btn_like">
                <i class="fa-solid fa-thumbs-up icon-btn"></i>
                Like <span class="btn_like_number">16</span>
            </a>
            <a href="#" class="btn_share">
                Share
            </a>
        </div>
        <div class="bulkhead"></div>
        <div class="social">
            <a class="icon-social" href="#"><i class="fa-brands fa-facebook-f"></i></a> 
            <a class="icon-social" href="#"><i class="fa-solid fa-z"></i></a> 
            <a class="icon-social" href="#"><i class="fa-brands fa-twitter"></i></a> 
            <a class="icon-social" href="#"><i class="fa-solid fa-envelope"></i></a> 
            <a class="icon-social" href="#"><i class="fa-solid fa-print"></i></a> 
        </div>
    </div>
</div>